{% extends "billy/web/public/base.html" %}
{% load customtags %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Open States: discover politics in your state" %}{% endblock %}
{% block description %}{% trans "Follow politics in your state legislature. Find your legislators, see how they've voted, and browse bills, committees and events." %} {% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}
<div id="featureWrapper">
    <div id="feature" class="textReplace">
        <h2>Discover politics in your state.</h2>
        <p class="callOut">{% trans "Find your legislators, see how they've voted and browse upcoming legislation and events." %}</p>
    </div>    
</div>    
    <div id="container">
        <div class="medModule homeSections">
            <div class="sixCol colLt" id="findLeg">
                <h3>Find Your Legislator</h3>
                <form action="/find_your_legislator/" method="get" id="legSearch">
                    <label class="specialHeader">Enter Your Address</label>
                    <input type="text" name="q" id="id_q" placeholder="{% trans 'enter address' %}">
                    <button type="submit">
                        <span>{% trans "Go" %}</span>
                    </button>
                </form>
            </div>
            <div class="sixCol colRt">
                <h3>Browse by State</h3>
            </div>
            <div class="clear"></div>
        </div>
        <div class="smModule">
            <div class="sevenCol colRt" id="dataBox">
                <h4 class="tipSm">{% trans "Just want data?" %}</h4>
                <p>{% trans 'We gather legislative data from all 50 states, Washington D.C. and Puerto Rico, and then make it available in a common format via our <a href="/api/">API</a> and <a href="/downloads/">bulk downloads</a>.' %}</p>
                <p>{% trans 'You can also join our <a href="http://groups.google.com/group/fifty-state-project">Google Group</a> to get involved.' %}
                </p>
            </div>
            <div class="clear"></div>
        </div>    
    </div>
    </div>
{% endblock %}
